/* For Mobile Screen */

@media (min-width:0px) and (max-width: 720px) {
  header {
    flex-direction: column;
    align-items: stretch;
    gap: 15px;
    padding: 10px;
  }
  .logo-sec {
    justify-content: center;
  }
  .logo-sec .logo {
    padding: 10px;
  }
  .logo-sec .address {
    padding: 10px;
  }
  .address h3 {
    font-size: 15px;
    /* margin-bottom: 4px; */
  }
  .address p {
    font-size: 12px;
  }
  .search-sec button {
    padding: 10px;
  }
  .btn-sec {
    margin-right: 0px;
    justify-content: center;
    gap: 25px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    padding: 10px;
  }
  .btn-sec button {
    padding: 12px;
  }
  .btn-sec button:last-child {
    gap: 4px;
  }
  /* banner-section */
  .banner-sec {
    display: none;
  }
  .second-banner {
    padding: 0 3%;
  }
  .second-banner img {
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
  }
  /* Category section */
  .category-sec .category-item {
    flex-basis: 25%;
  }
  /* Product-Section */
  .headingRow{
    padding: 0px 4%;
  }
  .headingRow h2{
    font-size: 20px;
  }
  .headingRow a{
    font-size: 16px;
  }
  .productRow{
    margin: 20px 0px 5px;
  }
  .productItem {
    flex-basis: 45%;
    margin-bottom: 15px;
  }
  .productContent h5{
    min-height: 55px;
  }
  /* footer */
  footer{
    padding: 0px;
    padding-bottom: 55px;
  }
  .footer-mid{
    flex-direction: column;
    padding: 20px;
  }
  .footer-mid .left, .footer-mid .right{
    width: 100%;
  }
  .usefullLinks{
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .usefullLinks a{
    margin-bottom: 10px;
  }
  .category-heading{
    margin: 20px 0px;
  }
  .links{
    gap: 2%;
  }
  .links li{
    flex-basis: 48%;
  }
  .links li a{
    margin-bottom: 10px;
  }
  .info p{
    padding: 10px;
  }
  .copyright-download{
    flex-direction: column;
    gap: 20px;
  }
}
/* For Tablet Screen */
@media (min-width:720px) and (max-width:1100px){
  /* Header */
  header{
    gap: 0px;
    padding: 10px;
  }
  .logo-sec .logo{
    padding: 10px 15px;
  }
  .logo-sec .address{
    padding: 10px 15px;
  }
  .address h3{
    font-size: 15px;
    margin-bottom: 6px;
  }
  .address p{
    font-size: 11px;
  }
  .search-sec button{
    padding: 9px;
  }
  .search-sec button, .search-sec input{
    font-size: 15px;
  }
  .btn-sec{
    margin-right: 20px;
    gap: 18px;
  }
  .btn-sec button{
    padding: 12px;
    font-size: 15px;
  }
  .btn-sec button:last-child{
    gap: 4px;
  }
  /* Category Section */
  .category-sec .category-item {
    flex-basis: 20%;
  }
  /* Product Section */
  .headingRow{
    padding: 0px 2.7%;
  }
  .headingRow h2{
    font-size: 25px;
  }
  .headingRow a{
    font-size: 20px;
  }
  .productItem{
    flex-basis: 30%;
    margin-bottom: 20px;
  }
  .productRow{
    margin-bottom: 0px;
  }
  .prd-img span{
    font-size: 12px;
  }
  .productContent h5{
    font-size: 16px;
  }
  .productContent p{
    font-size: 15px;
  }
  .price-outer b{
    font-size: 16px;
  }
  .price-outer button{
    padding: 7px 18px;
    font-size: 16px;
  }
  /* Footer */
  footer{
    padding: 40px;
    padding-bottom: 0px;
  }
  .links li a{
    margin-right: 10px;
  }
  .copyright-download p{
    flex-basis: 30%;
    text-align: left;
  }
  .download{
    flex-basis: 40%;
    gap: 0px;
    justify-content: space-around;
  }
  .social{
    flex-basis: 30%;
    justify-content: space-evenly;
  }
  .social i{
    height: 30px;
    width: 30px;
    font-size: 16px;
  }
}
